@model EmployeeModel

<h1>Details</h1>

<div class="jumbotron text-left col-md-3 border border-dark">
    <p class="font-weight-bold">ID: @Model.ID</p>
    <p class="font-weight-bold">First Name: @Model.FirstName</p>
    <p class="font-weight-bold">Last Name: @Model.LastName</p>
    <p class="font-weight-bold">Salary: @Model.Salary</p>
</div>